<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="/create" role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="image">Image</label>-->
                        <!--<input type="file" class="form-control-file" id="image">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="text">TextArea</label>
                        <textarea class="form-control" id="text" rows="7" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </form>
            </div>
        </div>
    </div>
</div>



