<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {{# if data}}
                {{# each data}}
                    <div class="card  mb-2">
                        <h4 class="card-header blog-title">{{this.title}}</h4>
                        <img class="card-img-top" src="http://localhost:3000/images/{{this.image}}"
                             alt="Card image cap">

                        <div class="card-body">
                            <p class="card-text">{{this.text}}</p>
                        </div>
                    </div>
                {{/each}}
            {{/if}}

            <div class="col-md-5">
                <form name="comment" method="post" action="" role="form" id="comments">
                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="text" class="form-control" id="name"
                               placeholder="Enter user Name"
                               name="name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="text">Comment</label>
                        <textarea class="form-control" id="comment" rows="7" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info counter">POST</button>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!--   ------------------------------>
        <div class="col-md-4"></div>
    <div class="col-md-4">
            <div class="card comment_count" style="width: 20rem;">
                <div class="card-header text-info" id="user">
                    Name:
                </div>
                <div class="card-body">
                    <p class="card-text" id="comment_block"></p>
                </div>
                <div class="card-footer" id="date">
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>